# Вопросики

Решить 4 задачу из контрольной про покупочки

In [26]:
from itertools import combinations
from collections import defaultdict

In [27]:
h = combinations(['a', 'b', 'c', 'd'], 2)
list(h)

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [28]:
h = combinations(['a', 'b', 'c', 'd'], 3)
list(h)

[('a', 'b', 'c'), ('a', 'b', 'd'), ('a', 'c', 'd'), ('b', 'c', 'd')]

In [76]:
from itertools import combinations
from collections import defaultdict

with open('input.txt') as f:
    x = f.readlines()

dct = defaultdict(lambda: 0)
    
for item in x:
    z = item.strip().split(',')
    for jtem in combinations(z, 2):
        if jtem[0] != jtem[1]:
            htem = tuple(sorted(jtem))
            dct[htem] += 1
        
ans = sorted(dct.items(), key=lambda w: w[1], reverse=True) 
mx = ans[0][-1]

ans = sorted([item for item in ans if item[1] == mx])[0][0]
print(','.join(ans))

aa,bb

Моё решение из бородатых лет :)

In [77]:
with open('input.txt') as f:
    x = f.readlines()

dct = dict() 
for item in x: 
    y = item.strip().split(',')
    n = len(y)
    for j in range(n):
        for k in range(j + 1, n):
            if y[j] == y[k]:
                continue
            pair = tuple(sorted([y[j], y[k]]))
            if pair in dct:
                dct[pair] += 1
            else:
                dct[pair] = 1

popularity = sorted(dct.items(), key=lambda w: w[1], reverse=True)
mx = popularity[0][1]

ans = sorted([item[0] for item in popularity if item[1] == mx], key=lambda w: w[0][0])
word = ans[0][0]
ans = [jtem for jtem in ans if jtem[0] == word]
ans = sorted(ans, key=lambda w: w[1])
print(','.join(ans[0]))

aa,bb

## 1. Работа с файлами

- Обсудили на прошлых семинарах :)

## 2. Формат json

In [ ]:
# С точки зрения python, json - это просто словарь с ограничениями

In [78]:
data = {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    'children': [
        {
            "firstName": "Alice",
            "age": 6,
        },
    ]
}

In [81]:
import json

# превращает словарь в строку отформатированную по правилам json
s = json.dumps(data)
s

'{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "singing"], "age": 35, "children": [{"firstName": "Alice", "age": 6}]}'

In [82]:
# распаковка строки назад в словарь
json.loads(s)

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'singing'],
 'age': 35,
 'children': [{'firstName': 'Alice', 'age': 6}]}

In [83]:
# скопировал с помощью консоли файлик к себе в папку из другой папки
# !cp ../sem07_211/markup.json ./markup.json

### Упражнение

Подгрузим файлик с разметкой из толоки и поработаем с ним. Посчитаем сколько каких веридктов встречается в данных.

In [85]:
with open('markup.json', 'r') as f:
    x = json.load(f)

In [88]:
x[20]

{'inputValues': {'id': 7, 'version': 1},
 'workerId': 56,
 'taskId': 1,
 'outputValues': {'result': 'violence'}}

In [91]:
from collections import Counter
cnt = Counter([item['outputValues']['result'] for item in x])

In [92]:
cnt

Counter({'ok': 1448, 'local': 543, 'violence': 508, 'federal': 501})

In [93]:
cnt.most_common()

[('ok', 1448), ('local', 543), ('violence', 508), ('federal', 501)]

- [Подробнее про json](https://python-scripts.com/json)

## 3. Бинарные форматы

In [94]:
import pickle

In [95]:
x = [1, 2, 3, 4, 5]

with open("lst.pickle", "wb") as f:
    pickle.dump(x, f)

In [96]:
!cat lst.pickle

��       ]�(KKKKKe.

In [97]:
with open("lst.pickle", "rb") as f:
    a = pickle.load(f)
a

[1, 2, 3, 4, 5]

In [99]:
def g(x):
    return x**2

g(6)

36

In [102]:
# Так лучше не делать 

with open("g.pickle", "wb") as f:
    pickle.dump(g, f)
    
with open("g.pickle", "rb") as f:
    h = pickle.load(f)
    
h(7)

49

In [103]:
# Можно использовать pickle чтобы сохранять модели обученные в ML

- [Подробнее про pickle](https://pythonworld.ru/moduli/modul-pickle.html)

## Приколы из collections и itertools

- [Примеры использования collections](https://proglib.io/p/ne-izobretat-velosiped-ili-obzor-modulya-collections-v-python-2019-12-15)
- [небольшой обзор itertools](https://habr.com/ru/companies/otus/articles/529356/)

In [104]:
from collections import deque

# с очередью можно работать с двух сторон, а со списком нет

In [105]:
x = deque()

In [106]:
x.append(42)
x.append(51)
x.append(3)
x

deque([42, 51, 3])

In [107]:
x.pop()

3

In [108]:
x

deque([42, 51])

In [109]:
x.popleft()

42

In [110]:
x

deque([51])

In [111]:
x.appendleft(99)

In [112]:
x.append(88)

In [113]:
x

deque([99, 51, 88])

In [ ]:
# по аналогии с OrderedDict
# это очередь но для словарей

In [115]:
from collections import OrderedDict
d = OrderedDict.fromkeys('abcde')
d

OrderedDict([('a', None), ('b', None), ('c', None), ('d', None), ('e', None)])

In [116]:
d.move_to_end('b')

In [117]:
d

OrderedDict([('a', None), ('c', None), ('d', None), ('e', None), ('b', None)])

In [118]:
d.move_to_end('b', last=False)
d

OrderedDict([('b', None), ('a', None), ('c', None), ('d', None), ('e', None)])

In [119]:
d.popitem(last=True)

('e', None)

In [120]:
d

OrderedDict([('b', None), ('a', None), ('c', None), ('d', None)])

In [121]:
d.popitem(last=False)

('b', None)

In [122]:
d

OrderedDict([('a', None), ('c', None), ('d', None)])

## 4. Таблицы

In [ ]:
# .csv .tsv

Таблицы можно считывать через открытие файла, но это не очень весело...

In [123]:
with open('marks.tsv') as f:
    x = f.readlines()

In [124]:
x[0]

'raw\tfio\tlogin\tA\tB \tC \tD\tE \tF\tG\t H\tI\tJ\tscore\tdiscont\titog\tcomment\n'

In [125]:
import pandas as pd
df = pd.read_csv('marks.tsv', sep='\t')
df.head()

,raw,fio,login,A,B,C,D,E,F,G,H,I,J,score,discont,itog,comment
0,1.0,Абарин Макар Михайлович,"makar-abarin, DuxDuxGroup",5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10,NaN
1,2.0,Авазова Фариза Эльдаровна,feavazova@edu.hse.ru,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,NaN,20.0,80.0,1.0,8,NaN
2,3.0,Автухович Наталья Эдуардовна,Наташа,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10,NaN
3,4.0,Агабалян Артём Араратович,aaagabalyan@edu.hse.ru,5.0,5.0,5.0,5.0,NaN,10.0,NaN,NaN,20.0,20.0,70.0,1.0,7,NaN
4,5.0,Акзамова Камилла Баходировна,kbakzamova@edu.hse.ru,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10,NaN

In [127]:
df['A'].mean()

4.915750915750916

In [129]:
df.columns

Index(['raw', 'fio', 'login', 'A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I',
       'J', 'score', 'discont', 'itog', 'comment'],
      dtype='object')

In [137]:
df_small = df[['A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I', 'J']]
mx = df_small.max()
mn = df_small.min()

df_small = (df_small - mn)/(mx - mn)

In [143]:
df_small.mean().sort_values(ascending=False)

 H    0.988189
B     0.986567
A     0.983150
F     0.982186
J     0.956564
G     0.942972
I     0.942704
C     0.941406
E     0.933712
D     0.930159
dtype: float64

В этом семестре нам нельзя использовать пандас :( Дурацкий независимый экзамен запрещеает нам это. Будь он тысячу раз проклят!

__Упражнение__ посчитать среднюю оценку по всем задачам без пандаса!

In [164]:
from collections import defaultdict

tasks = ['A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I', 'J']

ans = defaultdict(lambda: 0)
n_cnt = 0

with open('marks.tsv') as f:
    s = f.readline()
    colname = s.strip().split('\t')
    indx_start = colname.index('A')
    indx_end = colname.index('J')
    
    while True:
        s = f.readline()
        if s == '':
            break
        row = s.strip().split('\t')[indx_start: indx_end]
        if len(row) != 0:
            marks = [0 if item == '' else float(item) for item in row]
            for i,j in zip(tasks, marks):
                ans[i] += j
                n_cnt += 1
                
for key in ans.keys():
    ans[key] = ans[key]/n_cnt

In [165]:
ans

defaultdict(<function __main__.<lambda>()>,
            {'A': 0.44145043246839655,
             'B ': 0.4364604125083167,
             'C ': 0.4041916167664671,
             'D': 0.39654025282767796,
             'E ': 0.8166999334664006,
             'F': 0.810379241516966,
             'G': 0.7944111776447106,
             ' H': 0.83166999334664,
             'I': 1.4963406520292748})

Очень сложно так считать... `pandas` всё сильно упрощает и с ним мы встретимся в курсе андана!