In [ ]:
x = [1, 2, 5, 5]
x

[1, 2, 5, 5]

In [ ]:
y = set(x)
y

{1, 2, 5}

In [ ]:
for i in y:
  print(i)

1
2
5

In [ ]:
x = ["b", "a", "a", "d"]
print(set(x))

{'b', 'd', 'a'}

In [ ]:
y = set()
print(type(y))

<class 'set'>

In [ ]:
y = set()
y.add(1)
y.add(4)
print(y)

{1, 4}

In [ ]:
if 1 in y: y.remove(1)
print(y)

{4}

In [1]:
xs = {1, 2, 3, 4}
ys = {3, 4, 5, 6}
print(xs | ys)
print(xs & ys)
print(xs ^ ys)
print(xs - (xs & ys))
print(ys - xs)
print(len(xs))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 5, 6}
{1, 2}
{5, 6}
4

In [ ]:
s = set(map(int, input().split()))

In [ ]:
print(len(set(map(int, input().split())) & set(map(int, input().split()))))

1 2 3
2 3 4
2

In [ ]:
x = set([1, 2, 3])
y = x
print(y)
x.add(4)
print(y)

In [ ]:
nums = list(map(int, input().split()))
s = set()
for n in nums:
    if n in s:
        print('YES')
    else:
        print('NO')
        s.add(n)

In [ ]:
d = {}

In [ ]:
d = {'x' : [1], 'y' : 2, 'z' : 3}
d['x'][0]

1

In [ ]:
d[5] = 3

In [ ]:
d[5]

3

In [ ]:
print(d)

{'x': [1], 'y': 2, 'z': 3, 5: 2}

In [ ]:
d[5] = None

In [ ]:
list(d.keys())

['x', 'y', 'z', 5]

In [ ]:
for k in d: print(d[k])

[1]
2
3
2

In [ ]:
2 in d

False

In [ ]:
del d['x']

In [ ]:
print(d)

{'y': 2, 'z': 3, 5: None}

In [ ]:
n = int(input())
d = {}
for i in range(n):
    l = input().split()
    for j in range(1, len(l)):
        d[l[j]] = l[0]

m = int(input())
for i in range(m):
    query = input()
    if query in d: print(d[query])

2
Russia Moscow Petersburg Novgorod Kaluga
Ukraine Kiev Donetsk Odessa
3
Odessa
Ukraine
Moscow
Russia
Novgorod
Russia