## Вопросики

In [8]:
a = 5
b = 2

cond = (a % b == 0)

'YES' * cond

''

In [21]:
a = "Люююкюк"
a.isnumeric()

False

In [22]:
b = '44'
b.isnumeric()

True

In [23]:
a.upper()

'ЛЮЮЮКЮК'

In [24]:
a.lower()

'люююкюк'

In [25]:
a.count('ю')

4

In [26]:
a.count('юк')

2

In [50]:
x = 3602
h = str(x // (60*60))
m = str((x % 3600) // 60)
s = str((x % 3600) % 60)

In [52]:
m = '0' + m if len(m) == 1 else m  # тернарный оператор
s = '0' + s if len(s) == 1 else s
h = '0' + h if len(h) == 1 else h

f"{h}:{m}:{s}"

'01:00:02'

## Условия

In [54]:
x = int(input())
if x > 0:
    print(x)
else:
    print(-x)

-42
42

In [55]:
x = int(input())
if x > 0:
    print(x)
else:
    if x == 0:
        print('hello!')
    else:
        print(-x)

0
hello!

In [56]:
x = int(input())
if x > 0:
    print(x)
elif x == 0:
    print('hello!')
else:
    print(-x)

0
hello!

https://contest.yandex.ru/contest/48282/problems/C/

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [72]:
x = int(input())

if ((x % 4 == 0) and (x % 100 != 0)) or (x % 400 == 0):
    ans = 'YES'
else:
    ans = 'NO'

print(ans)

2000
YES

In [65]:
x = 2000

if (x % 4 == 0) and (x % 100 != 0):
    ans = 'YES'
elif x % 400 == 0:
    ans = 'YES'
else:
    ans = 'NO'

print(ans)

YES

In [71]:
x = 15

if x % 3 == 0:  # ленивость условий (остаемся в 1 условии куда попали)
    print('YES')
elif x % 5 == 0:
    print('YES')
elif x % 15 == 0:
    print('NO')
else:
    print('Another')

YES

## Циклы

In [74]:
range(10) # перечисление всех чисел от 0 до 9

range(0, 10)

In [80]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [92]:
a = [42, 'Маша', 'яблоко', 'абоба', 5.5, 42, True, [5, 4, 3], range(3)]
a

[42, 'Маша', 'яблоко', 'абоба', 5.5, 42, True, [5, 4, 3], range(0, 3)]

In [93]:
for item in a:
    print(item)

42
Маша
яблоко
абоба
5.5
42
True
[5, 4, 3]
range(0, 3)

In [94]:
a[0]

42

In [95]:
a[3]

'абоба'

In [96]:
a[3][2]

'о'

In [97]:
for letter in 'абоба':
    print(letter)

а
б
о
б
а

In [98]:
len(a)

9

In [99]:
a.count(42)

2

In [88]:
type(a)

list

In [89]:
type(range(10))

range

In [90]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

https://contest.yandex.ru/contest/48284/problems/K/

По данному натуральном n вычислите сумму факториалов. В решении этой задачи можно использовать только один цикл.

In [ ]:
1! = 1
2! = 2 * 1
3! = 3 * 2 * 1
4! = 4 * 3 * 2 * 1

In [ ]:
s = 1!
s = s + s*2
s = s + s*3
s = s + s*4

In [100]:
from math import factorial
factorial(4)

24

In [ ]:
4! + 3! + 2! + 1!

4! = 3! * 4

In [164]:
n = int(input())

s, f = 0, 1
for i in range(1, n + 1): # [a, b)
    # s = s + factorial(i) # это плохо
    f = f * i
    s = s + f
print(s)

5
153

In [ ]:
for i in range(1, n + 1): # [a, b)
    
    # factorial(i) делает вот этот цикл
    f = 1
    for j in range(1, i + 1):
        f = f * j
    
    s = s + f
print(s)

In [112]:
# Если мы Французы (включают 0 в натуральные числа)

n = 0

s, f = 0, 1
for i in range(1, n + 1): # [a, b)
    # s = s + factorial(i) # это плохо
    f = f * i
    s = s + f
    
if n == 0:
    print(1)
else:
    print(s)

1

https://contest.yandex.ru/contest/48285/problems/P/

Вводится список целых чисел. Все числа списка находятся на одной строке. В списке все элементы различны. Поменяйте местами минимальный и максимальный элемент этого списка.

In [126]:
x = input()
x

3 4 5 2 1

'3 4 5 2 1'

In [114]:
x.split(' ')

['3', '4', '5', '2', '1']

In [119]:
a = [1, 2]
a

[1, 2]

In [120]:
a.append(42)
a

[1, 2, 42]

In [121]:
a.append(102)
a

[1, 2, 42, 102]

In [122]:
y = []
for item in x.split(' '):
    y.append(int(item))
y

[3, 4, 5, 2, 1]

In [ ]:
# чет длинный какой-то цикл...

In [123]:
# list comprehension
[int(item) for item in x.split(' ')]

[3, 4, 5, 2, 1]

In [125]:
# я нашёл в одну строчку сумму квадратов чисел от 1 до 100 включая 100
sum([item ** 2 for item in range(1, 101)])

338350

In [128]:
# итератор (обещание применить к каждому элементу x.split(' ') функцию int)
map(int, x.split(' '))

In [129]:
# заставили итератор выполнить распаковку (свои обещания)
list(map(int, x.split(' ')))

[3, 4, 5, 2, 1]

In [134]:
x = list(map(int, input().split(' ')))

3 4 5 2 1

In [139]:
enumerate(x) # обещание пронумеровать все элементы массива

In [140]:
list(enumerate(x))

[(0, 3), (1, 4), (2, 5), (3, 2), (4, 1)]

In [148]:
z = ['ёж', 'ик', 'и']

'-'.join(z)

'ёж-ик-и'

In [152]:
z = [1, 2, 3]

'-'.join([str(item) for item in z])

'1-2-3'

In [153]:
z = [1, 2, 3]

'-'.join(map(str, z))

'1-2-3'

In [161]:
x = 'knlagklakl     '
x.strip()

'knlagklakl.'

In [162]:
x = list(map(int, input().strip().split(' ')))

mx = x[0]
mn = x[0]
mx_idx = 0
mn_idx = 0

for i,item in enumerate(x):
    
    if item > mx:
        mx = item
        mx_idx = i
        
    if item < mn:
        mn = item
        mn_idx = i
        
x[mx_idx] = mn
x[mn_idx] = mx

print(' '.join(map(str, x)))

1 -1010 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 -1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 15 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 30000
1 30000 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 -1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 15 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 -1010

In [142]:
# Всё то же самое но без enumerate

mx = x[0]
mn = x[0]
mx_idx = 0
mn_idx = 0

i = 0
for item in x:
    
    if item > mx:
        mx = item
        mx_idx = i
        
    if item < mn:
        mn = item
        mn_idx = i
        
    i += 1 # i = i + 1