## Вопросы

In [4]:
from collections import OrderedDict

dct = OrderedDict()
dct['a'] = 42
dct['b'] = 55
dct['c'] = 104

dct

OrderedDict([('a', 42), ('b', 55), ('c', 104)])

In [5]:
dct.move_to_end('a')

In [6]:
dct

OrderedDict([('b', 55), ('c', 104), ('a', 42)])

In [7]:
dct.popitem(last=True)

('a', 42)

In [8]:
dct

OrderedDict([('b', 55), ('c', 104)])

In [9]:
dct.popitem(last=False)

('b', 55)

In [10]:
dct

OrderedDict([('c', 104)])

- [Подробнее про collections](https://proglib.io/p/ne-izobretat-velosiped-ili-obzor-modulya-collections-v-python-2019-12-15)

## Модули os, sys

In [11]:
import os

In [16]:
os.listdir()      # аналог функции !ls

['sem07_group01.ipynb', '.ipynb_checkpoints']

In [15]:
os.listdir('../') # .. выйти в предыдущую папку

['.DS_Store',
 'sem07_group01',
 'sem07_218',
 'sem07_211',
 'README.md',
 'sem07_group11',
 '.ipynb_checkpoints']

In [22]:
os.mkdir('tasks')       # аналог функции !mkdir

In [21]:
os.removedirs('tasks')  # аналог функции !rm -rf

In [28]:
!cp -r ../sem07_211/cheating ./cheating  # скопировали директорию

In [30]:
!ls cheating

1.py     19.py    28.py    37.py    46.py    55.py    64.py    73.py
10.py    2.py     29.py    38.py    47.py    56.py    65.py    8.py
11.py    20.py    3.py     39.py    48.py    57.py    66.py    9.py
12.py    21.py    30.py    4.py     49.py    58.py    67.py    cheating
13.py    22.py    31.py    40.py    5.py     59.py    68.py
14.py    23.py    32.py    41.py    50.py    6.py     69.py
15.py    24.py    33.py    42.py    51.py    60.py    7.py
16.py    25.py    34.py    43.py    52.py    61.py    70.py
17.py    26.py    35.py    44.py    53.py    62.py    71.py
18.py    27.py    36.py    45.py    54.py    63.py    72.py

__Упражнение 1:__ найдём тех кто скатал!

In [39]:
def read_file(path):
    with open(path, 'r') as f:
        code = f.readlines()
        code = ''.join(code)
    return code

files = list(filter(lambda w: '.py' in w, os.listdir('cheating')))
n = len(files)

for i in range(n):
    path = f'cheating/{files[i]}'
    code_1 = read_file(path)
    
    for j in range(i + 1, n):
        path = f'cheating/{files[j]}'
        code_2 = read_file(path)
        
        if code_1 == code_2:
            print(files[i], files[j])

31.py 23.py
8.py 7.py
25.py 26.py
9.py 10.py
6.py 4.py
6.py 5.py
2.py 1.py
4.py 5.py
29.py 22.py

In [43]:
code_1

'n = int(input())\na = {}\nfor i in range(n):\n    word = input()\n    b = word.lower()\n    if b not in a:\n        a[b] = set()\n    a[b].add(word)\nerrors = 0\ns = input().split()\nfor word in s:\n    b = word.lower()\n    le = len([l for l in word if l.isupper()])\n    if (b in a and word not in a[b] or le != 1):\n        errors += 1\nprint(errors)'

In [40]:
!cat cheating/31.py

print(errors)

In [41]:
!cat cheating/23.py

print(errors)

## Рассказ про юникод

In [ ]:
# 1 байт = 8 бит
# 1 бит = [0/1]
# 2**8 = 256 символов можно закодировать в одном байте
# 
# 128 символов - стандартное латиница/цифры/знаки
# ещё 128 символов - немецкий/руны/кирилица/иероглифы
# => кодировка
# => проблемы с коммуникацией и кракозябры
# => доблесные рыцари в 90-е сделали юникоды
# 
# cp1251 vs utf-8

In [51]:
with open(path, 'r', encoding='utf-8') as f:
    code = f.readlines()
    code = ''.join(code)

print(code)

n = int(input())
a = {}
for i in range(n):
    word = input()
    b = word.lower()
    if b not in a:
        a[b] = set()
    a[b].add(word)
errors = 0
s = input().split()
for word in s:
    b = word.lower()
    le = len([l for l in word if l.isupper()])
    if (b in a and word not in a[b] or le != 1):
        errors += 1
print(errors)

## Модуль pickle

- [Пикл для чайников](https://pythonworld.ru/moduli/modul-pickle.html)

In [53]:
import pickle

In [54]:
x = [1, 2, 3, 4]

with open('lst.pickle', 'wb') as f:
    pickle.dump(x, f)

In [62]:
z = pickle.dumps(x)
z

b'\x80\x04\x95\r\x00\x00\x00\x00\x00\x00\x00]\x94(K\x01K\x02K\x03K\x04e.'

In [55]:
!cat lst.pickle

       ]�(KKKKe.

In [58]:
with open('lst.pickle', 'rb') as f:
    y = pickle.load(f)

In [59]:
y

[1, 2, 3, 4]

In [ ]:
# Можно использовать pickle чтобы сохранять модели обученные в ML 

# Можно сохранить не больще 2 гигов, иначе потом не получится прочитать файл....
# Такое у библиотеки ограничение :(

## Разговоры о json

In [64]:
# С точки зрения питона, json это обычный словарь
# но на этот словарь накладывается немного ограничений

# - кавычки могут быть только двойными
# - какие-то приколы с пробелами
# - какие-то приколы с запятыми

In [65]:
data = {
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    'children': [
        {
            "firstName": "Alice",
            "age": 6,
        },
    ]
}

In [68]:
import json
s = json.dumps(data) # сериализация
s

'{"firstName": "Jane", "lastName": "Doe", "hobbies": ["running", "sky diving", "singing"], "age": 35, "children": [{"firstName": "Alice", "age": 6}]}'

In [69]:
json.loads(s) # десериализация

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'singing'],
 'age': 35,
 'children': [{'firstName': 'Alice', 'age': 6}]}

__Упражнение 2:__ посчитать как часто в файлике с разметкой встречаются разные вердикты

In [70]:
!cp ../sem07_group11/markup.json ./markup.json

In [71]:
with open('markup.json', 'r') as f:
    x = json.load(f)

In [73]:
x[10]

{'inputValues': {'id': 4, 'version': 1},
 'workerId': 43,
 'taskId': 1,
 'outputValues': {'result': 'ok'}}

In [76]:
x[15]

{'inputValues': {'id': 6, 'version': 1},
 'workerId': 947,
 'taskId': 2,
 'outputValues': {'result': 'violence'}}

In [81]:
x[15]['outputValues']

{'result': 'violence'}

In [82]:
from collections import Counter

cnt = Counter([doge['outputValues']['result'] for doge in x])
cnt

Counter({'ok': 1448, 'local': 543, 'violence': 508, 'federal': 501})

In [83]:
cnt.most_common()

[('ok', 1448), ('local', 543), ('violence', 508), ('federal', 501)]

- [Введение в json](https://python-scripts.com/json)

## Другие форматы

- XML
- YAML
- protobuf

## Таблицы

In [ ]:
# .xlsx 
# .csv .tsv

In [84]:
import pandas as pd
df = pd.read_csv('marks.tsv', sep='\t')
df

,raw,fio,login,A,B,C,D,E,F,G,H,I,J,score,discont,itog,comment
0,1,Абарин Макар Михайлович,"makar-abarin, DuxDuxGroup",5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10.0,NaN
1,2,Авазова Фариза Эльдаровна,feavazova@edu.hse.ru,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,NaN,20.0,80.0,1.0,8.0,NaN
2,3,Автухович Наталья Эдуардовна,Наташа,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10.0,NaN
3,4,Агабалян Артём Араратович,aaagabalyan@edu.hse.ru,5.0,5.0,5.0,5.0,NaN,10.0,NaN,NaN,20.0,20.0,70.0,1.0,7.0,NaN
4,5,Акзамова Камилла Баходировна,kbakzamova@edu.hse.ru,5.0,5.0,5.0,5.0,10.0,10.0,10.0,10.0,20.0,20.0,100.0,1.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,323,Ямпольский Данила Иванович,Alex Temon,NaN,NaN,NaN,NaN,7.0,NaN,0.0,0.0,NaN,NaN,7.0,1.0,0.7,NaN
323,324,Яхьяева Хадижат Арсланбековна,khayakhyaeva@edu.hse.ru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
324,325,Маслов Кирилл Олегович,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN
325,326,Гордеева Наталия Михайловна,nmgordeeva@edu.hse.ru,5.0,5.0,0.0,5.0,10.0,NaN,NaN,NaN,NaN,20.0,45.0,1.0,4.5,NaN
326,327,Кондрашова Елизавета Вячеславовна,evkondrashova_1@edu.hse.ru,5.0,5.0,5.0,5.0,10.0,NaN,NaN,NaN,NaN,20.0,50.0,1.0,5.0,NaN

In [86]:
df['A'].mean()

4.951492537313433

In [95]:
df[['A', 'B ']].mean()

A     4.951493
B     4.950943
dtype: float64

In [87]:
df.columns

Index(['raw', 'fio', 'login', 'A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I',
       'J', 'score', 'discont', 'itog', 'comment'],
      dtype='object')

$$
x' = \frac{x - x_{min}}{x_{max} - x_{min}}
$$

In [96]:
tasks = ['A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I', 'J']
df_small = df[tasks]

df_small = (df_small - df_small.min())/(df_small.max() - df_small.min())
df_small.head()

     A   B    C     D   E     F    G    H    I    J
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  NaN  1.0
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0  NaN  1.0  NaN  NaN  1.0  1.0
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [98]:
df_small.mean().sort_values()

E     0.933460
D     0.933865
I     0.942208
G     0.942972
C     0.945098
J     0.963867
F     0.982041
 H    0.988048
B     0.990189
A     0.990299
dtype: float64

Давайте сделаем всё это без пандаса, потому что на независимом экзамене им пользоваться нельзя :(

In [122]:
from collections import defaultdict

tasks = ['A', 'B ', 'C ', 'D', 'E ', 'F', 'G', ' H', 'I', 'J']
dct = defaultdict(lambda: 0)
n_cnt = 0

with open('marks.tsv', 'r') as f:
    s = f.readline().strip().split('\t')
    indx_start = s.index('A')
    indx_end = s.index('J')
    
    while True:
        s = f.readline()
        if s == '':
            break
        
        row = s.strip().split('\t')[indx_start: indx_end]
        if len(row) != 0:
            marks = [0 if item == '' else float(item) for item in row]
            
            for i,j in zip(tasks, marks):
                dct[i] += j
            n_cnt += 1

for k,v in dct.items():
    dct[k] = v/n_cnt

dct

defaultdict(<function __main__.<lambda>()>,
            {'A': 4.058103975535168,
             'B ': 4.01223241590214,
             'C ': 3.685015290519878,
             'D': 3.5840978593272173,
             'E ': 7.507645259938838,
             'F': 7.3577981651376145,
             'G': 7.180428134556575,
             ' H': 7.584097859327217,
             'I': 13.311926605504587})

Очень сложно так считать... `pandas` всё сильно упрощает и с ним мы встретимся в курсе андана!